# Ficheiros de dependências e compilação
[Bb]in/
[Oo]bj/

# Ficheiros gerados pelo Visual Studio
*.vs/
*.user
*.suo

# Ficheiros de segredos
secrets.json
appsettings.json
appsettings.Development.json
.env

# Outros
*.nupkg
